#wrapper-navbar {
    background-color: #ffffff;
}

// make dropdown appear on hover
.dropdown:hover {
    .dropdown-menu {
        display: block;
    }
}


#left-sidebar {
    .sidebar-search {
        position: relative;
    }

    input {
        width: 100%
    }

    svg {
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
}

.wpforms-submit-container {
    text-align: right;
}
