/* ** Colors ** */
$purple: #6938E6; 
$orange: #FF4D00;
$teal: #19a5b4;  
$blue: #000F9F;
$gray: #C6D2DB;

$primary: $purple;  
$secondary: $orange;
$info: $blue;

/* ** Buttons ** */
$font-family-base: termina, sans-serif; 

/* ** Buttons ** */
$btn-link-color: $blue;

/* ** Forms ** */
$input-bg: $primary;
$input-color: #ffffff;
$input-placeholder-color: #dcdada;
$input-border-color: #ffffff;
$input-border-width: 2px;
$input-border-radius: .5rem;


/* ** Navigation ** */
$navbar-light-color: $orange;
$navbar-light-hover-color: $blue;

$enable-caret: false;