picture.img-fluid img {
    @extend .img-fluid;
}

.btn {
    color: $blue;
    background-color: $orange;
    border: none;
    border-radius: .5rem;
    padding: .5rem 2rem;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        color: $white;
    }
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent !important;
}


#wrapper-navbar {
    background-color: #ffffff;
}

.navbar {
    .navbar-nav {
        .menu-item:hover,
        .menu-item.active {
            .nav-link::before {
                content: '';
                height: .2rem;
                width: 3rem;
                display: block;
                position: absolute;
                left: -2.2rem;
                top: 1rem;
            }
        }

        .menu-item:hover {
            .nav-link {
                color: $purple;
            }
            .nav-link::before {
                background-color: $purple;
            }
        }

        .menu-item.active {
            .nav-link {
                color: $blue;
            }
            .nav-link::before {
                background-color: $blue;
            }
        }

        .nav-link {
            text-transform: uppercase;
            letter-spacing: .25rem;
            padding: .25rem 1rem;
            position: relative;
        }
    }

    .navbar-brand {
        img {
            max-width: 12rem;
        }
    }
}




// make dropdown appear on hover
.dropdown:hover {
    .dropdown-menu {
        display: block;
        top: 0;
        left: 12rem;
    }
}

.dropdown-menu {
    a {
        text-transform: uppercase;
    }

    .menu-item.active {
        background-color: $purple;

        a {
            color: $white;
        }
    }
}

// homepage
.home-main {
    background-color: $primary;

    .headline {
        letter-spacing: 5px;
        margin-bottom: -3rem;
    }

    .first-line {
        font-weight: bold;
        float: right;
    }

    .img-left img {
        height: 75%;
        position: absolute;
        top: 10%;
    }
}

// page templates
#page-title {
    .breadcrumbs {
        text-transform: uppercase;

        .crumb {
            padding: 0 .5rem;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.featured-resources {
    background-color: $gray;

    .item-column {
        min-height: 500px;
    }

    .column-overlay {
        background-repeat: no-repeat;
        background-color: #000f9fbd;
        background-blend-mode: soft-light;
        background-size: cover;

        .over {
            h4 {
                text-transform: uppercase;
            }
        }

        .under {
            display: none;
            text-align: center;
            padding: 0 4rem;

            p {
                color: $blue;
                font-size: 1.5rem;
            }
        }

        &:hover {
            background-color: #19a5b4;

            .over {
                display: none;
            }

            .under {
                display: block;
            }
        }
    }
}

.national-gun-violence {
    h3 {
        color: $light-blue;
    }
}

.results-circles {
    background-color: $purple;

    .circle-container {
        background-color: #FF4D00;
        cursor: pointer;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &.bg-white {
            background-color: #FFFFFF;
        }

        .circle-outer {
            
            height: 100%;
            width: 100%;
            
        }

        .circle-inner {
            position: absolute;

            .front, .back {
                position: absolute;
                top: 10rem;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
            .front {    
                color: $blue;
            }
            .back {
                color: $purple;
            }

        }
    }
}

.staff-cards {
    .member-image img {
        width: 100% !important;
    }

    .btn-close {
        opacity: 1;
        border-radius: 50%;
    }
}

.partnership-cards {
    .image-wrapper {
        height: 15rem;
    }
}


#left-sidebar {
    .sidebar-search {
        position: relative;
    }

    input {
        width: 100%
    }

    svg {
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
}

.wpforms-submit-container {
    text-align: right;
}


// footer
.footer-contact {
    background-color: $teal;

    .contact-form {
        color: $info;
        
        input, textarea {
            padding: 1rem 2rem !important;
            border-radius: .5rem !important;
            font-size: .8rem;
            // font-family: 'Source Sans Pro', sans-serif !important;
        }

        ::placeholder {
            color: $info;
            text-transform: uppercase;
            font-size: .8rem;
            // font-family: 'Source Sans Pro', sans-serif !important;
        }

        #wpforms-submit-29 {
            @extend .btn;
            float: left;
        }
    }
}

footer {
    text-transform: uppercase;

    p {
        margin-bottom: 1.5rem;
    }

    a {
        color: $white;
    }
}