/* ** Colors ** */
$purple: #6938E6; 
$orange: #FF4D00;
$teal: #19a5b4;  
$blue: #000F9F;
$gray: #C6D2DB;

$light-blue: #000eff;
$dark-blue: #000a66;

$dark-gray: #66696a;

$primary: $purple;  
$secondary: $orange;
$info: $blue;

/* Fonts */
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 2.75;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.5;
$h6-font-size:                $font-size-base * 1.25;
$font-family-sans-serif: 'termina', sans-serif; 
$font-family-base: 'termina', sans-serif; 


/* ** Buttons ** */
$btn-link-color: $blue;

/* ** Forms ** */
$input-bg: $primary;
$input-color: #ffffff;
$input-placeholder-color: #dcdada;
$input-border-color: #ffffff;
$input-border-width: 2px;
$input-border-radius: .5rem;


/* ** Navigation ** */
$navbar-light-color: $orange;
$navbar-light-hover-color: $purple;
$navbar-light-active-color: $blue;

$navbar-light-toggler-icon-bg:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-toggler-padding-y:          .5rem !default;
$navbar-toggler-padding-x:          .5rem !default;
$navbar-toggler-border-radius: 50%;

$dropdown-padding-y: 0;
$dropdown-font-size: .8rem;
$dropdown-color: $purple;
$dropdown-border-radius: 0;
$dropdown-link-color: $purple;
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: $purple;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: $purple;

$enable-caret: false;