h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

picture.img-fluid img {
    @extend .img-fluid;
    width: 100% !important;
}

.btn {
    color: $blue;
    background-color: $orange;
    border: none;
    border-radius: .5rem;
    padding: .5rem 2rem;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        color: $white;
    }
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent !important;
}


#wrapper-navbar {
    background-color: #ffffff;
}

.navbar {
    .navbar-nav {
        .menu-item:hover,
        .menu-item.active {
            .nav-link::before {
                content: '';
                height: .2rem;
                width: 3rem;
                display: block;
                position: absolute;
                left: -2.2rem;
                top: 1rem;
            }
        }

        .menu-item:hover {
            .nav-link {
                color: $purple;
            }
            .nav-link::before {
                background-color: $purple;
            }
        }

        .menu-item.active {
            .nav-link {
                color: $blue;
            }
            .nav-link::before {
                background-color: $blue;
            }
        }

        .nav-link {
            text-transform: uppercase;
            letter-spacing: .25rem;
            padding: .25rem 1rem;
            position: relative;
        }
    }

    .navbar-brand {
        img {
            max-width: 12rem;
        }
    }

    

    .side-menu {

        .navbar-toggler {
            position: fixed;
            top: 28%;
            left: 2%;
            color: #fff !important;
            background-color: $orange;
            z-index: 900;

            @include media-breakpoint-down(md) {
                display: block !important;
            }
        }

        .quick-exit {
            position: fixed;
            z-index: 900;
            top: 35%;
            left: 2%;
            border-radius: 50%;
            padding: .5rem;
        }
    }
}



@include media-breakpoint-up(md) {
    // make dropdown appear on hover
    .desktop-menu {
         .dropdown:hover {
            .dropdown-menu {
                display: block;
                top: 0;
                left: 12rem;
            }
        }
    }
}

.dropdown-menu {
    a {
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            white-space: normal;
        }
    }

    .menu-item.active {
        background-color: $purple;

        a {
            color: $white;
        }
    }
}

// homepage
.home-main {
    background-color: $primary;

    .headline {
        letter-spacing: 5px;
        margin-bottom: -3rem;
    }

    .first-line {
        font-weight: bold;
        float: right;
    }

    .img-left img {
        height: 75%;
        position: absolute;
        top: 10%;
    }
}



// page templates
#page-title {
    .breadcrumbs {
        text-transform: uppercase;

        .crumb {
            padding: 0 .5rem;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}


// featured resources 

.featured-resources {
    background-color: $gray;

    .item-column {
        min-height: 500px;
    }

    .column-overlay {
        background-repeat: no-repeat;
        background-color: #000f9fbd;
        background-blend-mode: soft-light;
        background-size: cover;

        .over {
            h4 {
                text-transform: uppercase;
            }
        }

        .under {
            display: none;
            text-align: center;
            padding: 0 4rem;

            p {
                color: $blue;
                font-size: 1.5rem;
            }
        }

        &:hover {
            background-color: #19a5b4;

            .over {
                display: none;
            }

            .under {
                display: block;
            }
        }
    }

    .disappear {
        color: $dark-gray;
        font-size: 4rem;
        font-weight: bold;
    }
}


// national gun violence
.national-gun-violence {
    .disappear {
        color: $light-blue;
        font-size: 4rem;
        font-weight: bold;
    }
}

.title-parent {
    overflow: hidden;
    width: 3000px;
}


// results circles 

.results-circles {
    background-color: $purple;

    .circle-container {
        background-color: #FF4D00;
        cursor: pointer;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &.bg-white {
            background-color: #FFFFFF;
        }

        .circle-outer {
            
            height: 100%;
            width: 100%;
            
        }

        .circle-inner {
            position: absolute;

            .front, .back {
                position: absolute;
                top: 10rem;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
            .front {    
                color: $blue;
            }
            .back {
                color: $purple;
            }

        }
    }
}

.staff-cards {
    .member-image img {
        width: 100% !important;
    }

    .btn-close {
        opacity: 1;
        border-radius: 50%;
    }
}

.partnership-cards {
    .image-wrapper {
        height: 15rem;
        width: 15rem; 
        overflow: hidden;
    }
}


#left-sidebar {
    .sidebar-search {
        position: relative;
    }

    input {
        width: 100%
    }

    svg {
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
}

.resource-sections {

    .sections-list {
        list-style-type: none;

        li {
            padding: .5rem 0;
        }
    }
}

.pagination {
    justify-content: end;

    .page-item:not(.active) {
        a {
            color: $orange;    
        }
    }
}

.contact-bwjp {
    .contact-sidebar {
        img {
            width: 100% !important;
        }
    }
    
    .wpforms-confirmation-container-full {
        background: #19a5b4 !important;
        border: none !important;
        color: $blue !important;
    }
}


.wpforms-submit-container {
    text-align: right;
}


// OUR WORK
#our-work-sidebar {
    margin-top: -2rem;
}

.content-bottom {
    padding: 3rem 0 2rem 0;
}

.content-tools {
    padding: 3rem;
    margin-left: -4rem;

    a {
        color: $white;
    }
}


// forms 
 input, textarea, div.wpforms-container .wpforms-form .choices__inner {
    padding: 1rem 2rem !important;
    border-radius: .5rem !important;
    font-size: .8rem;
}

::placeholder, div.wpforms-container .wpforms-form .choices__placeholder {
    color: $info;
    text-transform: uppercase;
    font-size: .8rem;
}

#wpforms-submit-29, #wpforms-submit-59 {
    @extend .btn;
    float: left;
}


// PLUGINS

// Draw Attention
.shortcode-full {
    .hotspots-interaction {
        margin: 0 !important;
    }
}


// ARTCILES
.featured-article {
    a {
        color: $white;
        text-decoration: none;
    }
}

#archive-sidebar {
    .single-tag, .single-year {
        list-style: none;
    }
}


// SEARCH
.search-nav {
    .nav-item {
        background: $info;

        .nav-link {
            text-transform: uppercase;
        }

        .nav-link:not(.active) {
            color: $white;
        }
    }
}
.search-results {
    .results:not(.active) {
        display: none;
    }
}

// footer
.footer-contact {
    background-color: $teal;

    .contact-form {
        color: $info;
    }

    ::placeholder {
        color: $info;
    }
}


footer {
    text-transform: uppercase;

    p {
        margin-bottom: 1.5rem;
    }

    a {
        color: $white;
    }
}